<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /pwad_71_class/testReact/
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /pwad_71_class/testReact/index.html [L]
</IfModule>